
<!--  modal using ID -->
<!-- <dialog id="my_modal_3" class="modal"> -->
  <form method="dialog" class="modal-box">
    <main id="content" role="main" class="w-full max-w-md mx-auto ">
      <div class=" bg-white  ">
        <button class="btn btn-sm btn-circle  btn-ghost absolute right-2 top-2">✕</button>
        <div class="p-4 sm:p-4">
          <div class="text-center">
            <h1 class="block text-2xl  font-bold text-gray-800 px-4 py-2 dark:text-white">Forgot password?</h1>
            <p class="btn mt-2 text-xs  rounded text-gray-600">
              Remember your password?
              <button class="text-[#0B1C39] decoration-2 hover:underline text-sm font-medium" routerLink="/login">
                Login here
              </button>
            </p>
          </div>
    
          <div class="mt-5">
            <form [formGroup]="ForgotPassword">
              <div class="grid gap-y-4">
                <div>
                  <label for="email" class="block text-sm font-normal ml-1 mb-2 text-gray-400">Email address</label>
                  <div class="relative mb-5">
                    <input type="email" id="email" formControlName="email"
                      class="py-3 px-4 block w-full border-2 border-gray-100 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 shadow-md"
                      required aria-describedby="email-error">
                  </div>

                  <div *ngIf="verifiedMail" class="relative mb-5">
                    <label for="email" class="block text-sm font-normal ml-1 mb-2 text-gray-400">New password</label>
                    <input type="password" id="password" formControlName="password"
                      class="py-3 px-4 block w-full border-2 border-gray-100 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 shadow-md"
                      required aria-describedby="email-error">
                  </div>

                  <div *ngIf="verifiedMail" class="relative mb-5">
                    <label for="email" class="block text-sm font-normal ml-1 mb-2 text-gray-400">Confirm new password</label>
                    <input type="password" id="password" formControlName="confirmPassword"
                      class="py-3 px-4 block w-full border-2 border-gray-100 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 shadow-md"
                      required aria-describedby="email-error">
                  </div>
                  
                  <p class="hidden text-xs text-red-600 mt-2" id="email-error">Please include a valid email address so we
                    can get back to you</p>
                </div>
                <button  *ngIf="!verifiedMail"  type="submit" (click)="verifyMail()" 
                  class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded border border-transparent font-semibold bg-[#0B1C39] text-white hover:bg-[#FFD700] focus:outline-none focus:ring-2 focus:ring-[#0B1C39] focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">Reset
                  password</button>
                  <button  *ngIf="verifiedMail"  type="submit" (click)="changePassword()"
                    class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded border border-transparent font-semibold bg-[#0B1C39] text-white hover:bg-[#FFD700] focus:outline-none focus:ring-2 focus:ring-[#0B1C39] focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">Reset
                    password</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </form>
<!-- </dialog> -->