
<nav class="fixed top-0 left-0 right-0 bg-[#0B1C39] border-gray-200 dark:bg-gray-900 dark:border-gray-700 z-50">
  <!-- Navbar content -->
  <div class="flex items-center justify-between  px-2  py-6">
    <!-- Logo -->
    <a href="#" class="flex items-center ml-4">
      <img src="assets/dot-designs-low-resolution-logo-color-on-transparent-background.png" class="h-8 mr-3"
        alt="Flowbite Logo" />
    </a>
  </div>
</nav>


<section class="flex items-center justify-center h-3/4 bg-white mt-32">
    <div class="container mx-auto max-w-screen-xl  ">
      <div class="flex flex-col md:flex-row justify-center">
        <div class="w-full md:w-1/2 bg-cover bg-center bg-no-repeat rounded-l-lg  md:rounded-bl-none md:rounded-tr-none md:bg-none" style="background-image: url('assets/Vinyl\ Decal\ \ welcome\ We\'re\ Glad\ You\'re\ -\ Etsy.png');"></div>
        <div class="w-full md:w-1/2 bg-[#0B1C39] rounded-tr-lg rounded-br-lg shadow-lg p-12 font-inter ">
          <div class="w-full  bg-white rounded p-12 ">
            <!-- <h5 class=" mb-4 text-2xl font-bold" style="letter-spacing: 1px;">Login</h5> -->
            <form [formGroup]="form" (submit)="login()"> 
              <div class="mb-6">
                <label class="block mb-1 text-md" for="form2Example27">Enter your email</label>
                <input type="email" id="form2Example27" formControlName="email" class="form-input w-full h-12 rounded border pl-3 focus:outline-none focus:border-blue-500" placeholder="Email" />
              </div>
              <div class="mb-6">
                <label class="block mb-1 text-md" for="form2Example27">Enter your Password</label>
                <input type="password" id="form2Example27" formControlName="password" class="form-input w-full h-12 rounded border pl-3 focus:outline-none focus:border-blue-500" placeholder="Enter Password" />
              </div>
              <div class="mb-8">
                <button class="w-full bg-[#0B1C39] hover:bg-[#FFD700] hover:text-[#0B1C39] text-white font-medium py-3 px-4 rounded" type="submit">LOGIN</button>
              </div>
            </form>
              <div class="flex justify-center items-center my-2">
                <p>Or Login With</p>
              </div>
              <div class="mb-4 mt-1 flex justify-center">
              <!-- <button
                class="w-full bg-[#0B1C39]  hover:bg-[#FFD700] hover:text-[#0B1C39] text-white font-medium py-3 px-4 rounded flex flex-row items-center"> -->
                <asl-google-signin-button name="Google Signup" type="icon" size="medium"></asl-google-signin-button>
                <!-- <span class="mx-auto">Login With Google</span></button> -->
              </div>
              <div class="text-center">
                <a class="text-sm text-gray-500 cursor-pointer"  onclick="my_modal_3.showModal()"   >Forgot password?</a>
                <p class="mt-2 text-gray-700">Don't have an account? <a routerLink="/designer_signup" class="text-blue-500">Signup</a></p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>




  <!-- You can open the modal using ID.showModal() method -->
  <dialog id="my_modal_3" class="modal">
    <form method="dialog" class="modal-box">
      <main id="content" role="main" class="w-full max-w-md mx-auto ">
        <div class="mt-7 bg-white   dark:bg-gray-800 dark:border-gray-700">
          <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
          <div class="p-4 sm:p-4">
            <div class="text-center">
              <h1 class="block text-2xl font-bold text-gray-800 dark:text-white">Forgot password?</h1>
              <p class="btn mt-2 text-sm text-gray-600 dark:text-gray-400 " routerLink="/login">
                Remember your password?
                <a class="text-blue-600 decoration-2 hover:underline font-medium" routerLink="/login">
                  Login here
                </a>
              </p>
            </div>
  
            <div class="mt-5">
              <form [formGroup]="ForgotPassword">
                <div class="grid gap-y-4">
                  <div>
                    <label for="email" class="block text-sm font-bold ml-1 mb-2 dark:text-white">Email address</label>
                    <div class="relative mb-5">
                      <input type="email" id="email" formControlName="email"
                        class="py-3 px-4 block w-full border-2 border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 shadow-sm"
                        required aria-describedby="email-error">
                    </div>
  
                    <!-- <div *ngIf="verifiedMail" class="relative mb-5">
                      <label for="email" class="block text-sm font-bold ml-1 mb-2 dark:text-white">New password</label>
                      <input type="password" id="password" formControlName="password"
                        class="py-3 px-4 block w-full border-2 border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 shadow-sm"
                        required aria-describedby="email-error">
                    </div>
  
                    <div *ngIf="verifiedMail" class="relative mb-5">
                      <label for="email" class="block text-sm font-bold ml-1 mb-2 dark:text-white">Confirm new
                        password</label>
                      <input type="password" id="password" formControlName="confirmPassword"
                        class="py-3 px-4 block w-full border-2 border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 shadow-sm"
                        required aria-describedby="email-error">
                    </div> -->
  
                    <p class="hidden text-xs text-red-600 mt-2" id="email-error">Please include a valid email address so
                      we
                      can get back to you</p>
                  </div>
                  <button *ngIf="!verifiedMail" type="submit" (click)="verifyMail()"
                    class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">Reset
                    password</button>
                  
                </div>
              </form>
            </div>
          </div>
        </div>
      </main>
    </form>
  </dialog>
  
