
<app-admin-nav></app-admin-nav>
<app-admin-sidebar></app-admin-sidebar>
<div class="p-2 sm:ml-64  z-40">
    <div class="p-4 sm:flex justify-center ">
    <div class="stats shadow m-2">
    
        <div class="stat">
            <div class="bg-[#0B1C39]">Total Designers</div>
            <div class="stat-value">{{designers}}</div>
            <div class="stat-desc">21% more than last month</div>
        </div>
        
    
    </div>
    <div class="stats shadow m-2">
    
        <div class="stat">
            <div class="bg-[#0B1C39]">Total Users</div>
            <div class="stat-value">{{users}}</div>
            <div class="stat-desc">21% more than last month</div>
        </div>
    
    
    </div>
    <div class="stats shadow m-2">
    
        <div class="stat">
            <div class="bg-[#0B1C39]">Total Designs</div>
            <div class="stat-value">{{designs}}</div>
            <div class="stat-desc">21% more than last month</div>
        </div>
    
    
    </div>
    <div class="stats shadow m-2">
    
        <div class="stat">
            <div class="bg-[#0B1C39]">Total Categories</div>
            <div class="stat-value ">{{categories}}</div>
            <div class="stat-desc">21% more than last month</div>
        </div>
    
    
    </div>

    
    </div>
</div>