<nav class="p-5 bg-[#0B1C39] shadow text-white md:flex md:items-center md:justify-between">
  <div class="flex justify-between items-center">
    <span routerLink="/" class="text-2x cursor-pointer">
      <img src="assets/dot-designs-low-resolution-logo-color-on-transparent-background.png" class="h-8" alt="">
    </span>
    <span class="cursor-pointer md:hidden block" (click)="menu()">
      <img *ngIf="!showmenu" src="assets/menu-button-of-three-horizontal-lines.png" name="menu" alt="" class="h-6">
      <img *ngIf="showmenu" src="assets/close.png" class="h-6" name="close" alt="">
    </span>
  </div>
  <div class="nav_link  "  [ngClass]="{'hidden': !showmenu}">
    <ul class="md:flex md:items-center md:static md:w-auto md:py-0 md:pl-0 md:gap-10">
      <li routerLink="/" class="my-6 md:my-0 cursor-pointer hover:text-[#FFD700]">
        <a class="text-1xl hover:text-ring-black duration-500">Design Gallery</a>
      </li>
      <li  class="my-6 md:my-0 cursor-pointer hover:text-[#FFD700]">
      <s> <a class="text-1xl hover:text-ring-black duration-500">Options</a></s>
      </li>
      <li routerLink="/designer"  class="my-6 md:my-0 cursor-pointer hover:text-[#FFD700]">
        <a class="text-1xl hover:text-ring-black duration-500">Join us</a>
      </li>
      <li class="my-6 md:my-0 cursor-pointer hover:text-[#FFD700]">
       <s><a class="text-1xl hover:text-ring-black duration-500">Visit us</a></s>
      </li>
      <li *ngIf="authenticated"  class="my-6 md:my-0 cursor-pointer hover:text-[#FFD700]">
        <a id="menu-button" [attr.aria-expanded]="isMenuOpen ? 'true' : 'false'" aria-haspopup="true" (click)="toggleMenu()"
          class="block hover:text-ring-black duration-500 ">
          Account
        </a>
      </li>
      <li *ngIf="!authenticated" routerLink="/login" class="my-6 md:my-0 cursor-pointer hover:text-[#FFD700]">
        <a  class="text-1xl hover:text-ring-black duration-500">Login</a>
      </li>
    </ul>
  </div>
</nav>





<!-- Menu Content (Visible on small screens) -->


<div aria-orientation="vertical" [style.display]="isMenuOpen ? 'block' : 'none'" aria-labelledby="menu-button"
  tabindex="-1" id="dropdown-menu"
  class="absolute  right-0 z-10  w-48 origin-top-right rounded-bl-md bg-[#FFD700] py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
  role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
  <!-- Active: "bg-gray-100", Not Active: "" -->
  <a routerLink="/bookings" class="block px-4 py-2 text-sm text-white  font-medium" role="menuitem" tabindex="-1"
    id="user-menu-item-0">My Bookings</a>
  <a class="block px-4 py-2 text-sm text-white  font-medium" role="menuitem" tabindex="-1" id="user-menu-item-1">MY Wishlist</a>
  <a *ngIf="!authenticated" routerLink="/login" class="block px-4 py-2 text-sm text-white  font-medium" role="menuitem"
    tabindex="-1" id="user-menu-item-2">Login/Signup</a>
  <a (click)="logout()" *ngIf="authenticated" class="block px-4 py-2 text-sm text-white  font-medium" role="menuitem"
    tabindex="-1" id="user-menu-item-2">Logout</a>

</div>










