

/* Add this to your global styles or component-specific styles */
.nav_link {
    position: absolute;
    top: 80px;
    /* Adjust the top position as needed */
    right: 0;
    background-color: #0B1C39;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    z-index: 9;
    }

/* Hide the menu on small screens by default */
.nav_link.hidden {
    display: none;
}

@media (min-width: 768px) {

    /* Show the menu on larger screens */
    .nav_link.hidden {
        display: flex;
    }

    /* Reset the styles for larger screens */
    .nav_link {
        position: static;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }


    ul {
        opacity: 1;
        top: 0;
    }
}