<app-header></app-header>

<div class="center items-center my-12">
    <div class="card-container">
      <div *ngIf="bookingDetails" class="card rounded-md bg-gray-900 mr-3 mb-5">
        <div class="card-img">
        <img class="rounded-t-md w-full h-full object-cover animated-image" src="assets/dining-room-with-chandelier-hanging-from-ceiling_752894-93.avif" alt="product image" />
      </div>
      <div class="card-footer px-3">
        <span class="ttext-xl lg:text-xl font-normal text-white w-3/4 overflow-hidden whitespace-nowrap overflow-ellipsis">
    {{bookingDetails.floorPlanType}}
       
        </span>
      </div>
    </div>
    <p></p>



    
</div>