<app-header></app-header>
<div class="z-40">
    <div class="p-4">
        <div class="center items-center">
            <!-- captions -->
            <div class="ml-5 mt-10 mb-3">
                <h2 class="text-1xl lg:text-3xl font-medium md:text-2xl mt-3">Designs</h2>
            </div>
            <!-- cards -->
            <div *ngIf="designs" class="flex flex-wrap  mx-5 lg:mx-4">
                <div *ngFor="let designItem of designs" [routerLink]="['/design_detailView',designItem._id]"
                    class="card rounded-md bg-gray-900 mr-3 pb-3 mb-3">
                    <div class="card-img">
                        <img class="rounded-t-md w-full h-full object-cover animated-image" [src]="designItem.images[0]"
                            alt="product image" />
                    </div>

                    <div class="card-footer px-3">
                        <span
                            class="ttext-xl lg:text-xl font-normal text-white w-3/4 overflow-hidden whitespace-nowrap overflow-ellipsis">
                            {{ designItem.name }}
                        </span>

                        <div class="card-button" [routerLink]="['/designer/edit_design',designItem._id]">
                            <img src="assets/favorite.png" class="svg-icon" alt="Edit Icon"
                                style="width: 25px; height: 25px;">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>