.card {
    width: 283.8px;
    height: 280px;
    /* padding: .8em; */
     /* background: #ffff; */
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    /* border-radius: 5px,0px,5px,0px; */
   }
   
   .card-img {
    background-color: #ffff;
    height: 85%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
   }
/*    
   .card-info {
    padding-top: 10%;
   } */
   
   svg {
    width: 20px;
    height: 20px;
   }
   
   .card-footer {
    width: 100%;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    /* border-top: 1px solid #ddd; */
   }
   
   /*Text*/
   .text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
    padding-left: 5px;
   }
   
   .text-body {
    font-size: .9em;
    padding-bottom: 10px;
   }
   
   /*Button*/
   .card-button {
    border: .5px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   
   /*Hover*/
   .card-img:hover {
    transform: translateY(-5%);
    box-shadow: #0B1C39(226, 196, 63, 0.25) 0px 13px 47px -5px, #0B1C39(180, 71, 71, 0.3) 0px 8px 16px -8px;
   }
      /* 0B1C39 */
   .card-button:hover {
    border: .5px solid #ffec1b;
    background-color: #ffec1b58;
   }
   .custom-font {
    font-family: 'Lato', sans-serif;
  }

 
  









button {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   font-family: inherit;
   font-size: 13px;
   font-weight: 500;
   text-transform: uppercase;
   letter-spacing: 0.4px;
   color: #000000;
   background-color: #FFD700;
   border-style: solid;
   border-width: 2px 2px 2px 2px;
   border-color: rgba(255, 255, 255, 0.333);
   border-radius: 40px 40px 40px 40px;
   padding: 16px 24px 16px 28px;
   transform: translate(0px, 0px) rotate(0deg);
   transition: 0.2s;
   box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
   margin-bottom: 100px;
}
/* FFD700 */
button:hover {
   color: #ffffff;
   background-color: #0B1C39;
   box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
}

button:active {
   box-shadow: none;
}