<nav class="fixed top-0 left-0 right-0 bg-[#0B1C39] border-gray-200 dark:bg-gray-900 dark:border-gray-700 z-50">
    <!-- Navbar content -->
    <div class="flex items-center justify-between p-4">
      <!-- Logo -->
      <a href="#" class="flex items-center ml-4">
        <img src="assets/dot-designs-low-resolution-logo-color-on-transparent-background.png" class="h-8 mr-3" alt="Flowbite Logo" />
      </a>
  
      <!-- Mobile Menu Toggle Button -->
      <button (click)="toggleNavbarDropdown()" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
        </svg>
      </button>
  
      <!-- Navbar Dropdown (Visible on larger screens) -->
      <div class=" md:block mr-4">
        <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border    md:flex-row md:space-x-8 md:mt-0 md:border-0  dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700 ml-auto justify-end">
          <!-- Home Link -->
          <li *ngIf="admin_authenticated">
            <a routerLink="/admin" class="block py-2 pl-3 pr-4 text-white bg-blue-700  md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500 dark:bg-blue-600 md:dark:bg-transparent" aria-current="page">
              {{ emitter }}
            </a>
          </li>
          <li *ngIf="!admin_authenticated">
            <a routerLink="/admin_login" class="block py-2 pl-3 pr-4 text-white  hover:text-blue-700 md:border-0 md:p-0 dark:text-white md:dark:hover:text-blue-500">
              Login/Signup
            </a>
          </li>
          <li *ngIf="admin_authenticated">
            <a (click)="logout()" routerLink="/admin" class="block py-2 pl-3 pr-4 text-white  hover:text-blue-700 md:border-0 md:p-0 dark:text-white md:dark:hover:text-blue-500">
              Logout
            </a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
  
  <div [style.display]="isNavbarDropdownOpen ? 'block' : 'none'" id="navbar-dropdown" class="fixed right-0 z-50 bg-white border border-[#0B1C39] w-38 rounded-sm bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
    <a class="block px-4 py-2 text-md text-bold bg-[#0B1C39] text-white" role="menuitem" tabindex="-1" id="navbar-menu-item-2">{{ emitter }}</a>
    <a (click)="toggleNavbarDropdown()" routerLink="/categoris" class="border border-gray-300 flex bg-white shadow items-center p-2 m-1 text-gray-900 rounded-sm text-[#0B1C39] hover:text-white bg-white px-5 hover:bg-[#0B1C39] group" role="menuitem" tabindex="-1" id="navbar-menu-item-2">Designs</a>
    <a class="flex items-center p-2 m-1 text-gray-900 rounded-sm text-[#0B1C39] hover:text-white border border-gray-300 bg-white shadow bg-white px-5 hover:bg-[#0B1C39] group" role="menuitem" tabindex="-1" id="navbar-menu-item-2">Dashboard</a>
    <button *ngIf="!admin_authenticated" routerLink="/admin_login" class="block px-4 py-2 text-sm bg-white border border-gray-300 px-5 text-gray-700" role="menuitem" tabindex="-1" id="navbar-menu-item-4">
      Login/Signup
    </button>
    <a *ngIf="admin_authenticated" (click)="logout()" class="block px-6 bg-white py-1 text-md mb-1 border border-gray-300 text-[#0B1C39]" role="menuitem" tabindex="-1" id="navbar-menu-item-2">Logout</a>
  </div>
  